# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist
# dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# D:\Collection-of-projects\Ledger\node_modules\react-lite-month-picker\src\components\MonthPicker\MonthPicker.module.css
# this file was changed. .pickerContainer{z-index:10}  

# D:\Collection-of-projects\Ledger\node_modules\react-lite-month-picker\src\components\MonthInput\MonthInput.jsx
# This file was changed.  defaultProps will not be supported in the future so I used default params

#D:\Collection-of-Project\Ledger\node_modules\react-lite-month-picker\src\components\MonthInput\MonthInput.module.css
#.monthInputField {
#  /* width: var(--month-input-width); */}

#D:\Collection-of-Project\Ledger\node_modules\react-lite-month-picker\src\components\MonthInput\MonthInput.module.css
# .pickerContainer {/* width: var(--month-input-width); */
#  min-width: 200px;}

